@import url("https://fonts.googleapis.com/css2?family=Inclusive+Sans&family=Lato&family=Mooli&display=swap");
$brightYellow: #ffc800d9;
$darkYellow: #d5ac18;
$brightGray: #f1f1f1;
$darkGray: #acacac;
@media screen and (max-width: 897px) {
  // body{
  //     display: none;
  // }
  #leftside {
    width: 70%;
    justify-content: center;
    align-items: center;
  }
  .main {
    .flexContainer {
    //   flex-direction: column-reverse;

      .leftSide {
        width: 100%;
        .about {
            .title{
                #test{
                    font-size: 15px;
                }
            }
          .bio {
            p {
              font-size: 10px;
            }
          }
        }
      }

      .rightSide {
        .image {
          transform: scale(0.4);
          position: relative;
        //   right: 100px;
        
          
        }
      }
    }
  }
}

@media screen and (max-width: 534px) {
  // body{
  //     display: none;
  // }
  #test {
    font-size: 25px;
  }
  #leftside {
    width: 70%;
    justify-content: center;

    align-items: center;
  }

  .main {
    .flexContainer {
      flex-direction: column-reverse;

      .leftSide {
        width: 100%;

        .about {
          .bio {
            p {
              font-size: 16px;
            }
          }
        }
      }

      .rightSide {
        .image {
          transform: scale(0.3);
        }
      }
    }
  }
}

body {
  margin: 0px;
}

.main {
  margin: 0px;
  .flexContainer {
    display: flex;
    align-items: center;
    height: 92vh;
    .leftSide {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: "Inclusive Sans";
      .about {
        padding: 20px;
        border-radius: 10px;
        width: 80%;
        position: relative;
        top: 30px;
        // height: 300px;
        background-color: $darkYellow;
        .title {
          background-color: $brightYellow;
          color: white;
          border-radius: 10px;
          h1 {
            padding: 10px 0px 10px 20px;
            font-size: 40px;
          }
        }
        .bio {
          color: $brightGray;
          font-size: 10px;
          margin-bottom: 30px;
          p{
            font-size: 10px;
          }
        }
      }
    }
    .rightSide {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .image {
        position: fixed;
        svg {
          width: 550px;
          position: fixed;
          position: fixed;
          transform: translate(-45%, -45%);
        }
        img {
          width: 260px;
          height: 270px;
          border-radius: 50px 30px 10px 20px;
          position: fixed;
          transform: translate(-50%, -50%);
          filter: saturate(40%);
        }
      }
    }
  }
}

@media screen and (max-width: 600px){
    .flexContainer{
        display: flex;
        flex-direction:column;
    }
}

@media screen and (max-width: 300px){
  #gabBio{
    font-size: 9px;
  }
  .gptcredit{
    font-size: 10px;
  }
  #gptred{
    font-size: 13px;
  }
}
